@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
li {
  list-style: none;
}
body {
    overflow-x:hidden; 
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(176.56deg, #EF5E83 -10.6%, #B265FF 40.25%, #FF97E8 106.35%, #FFE297 106.35%) no-repeat;
}
.page-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
  align-self: center;
}
header {
margin-bottom: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}
.logo {
  width: auto;
  height: 80px;
}
.menu {
  display: flex;
  align-items: center;
}
.media {
  display: flex;
  margin: 0;
  padding: 0;
}
.lang-buttons {
  margin-right: 15px;
}
button {
  border: none;
  padding: 0;
  background: transparent;
  color: #fff;
  font-size: 16px;
  margin: 2px;
  font-weight: 600;
}
.media__inner {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  color: #f59cae;
  border-radius: 50%;
  display: block;
}
.media__inner:last-child {
  color: #fff;
  background-color: #ff6f8c;
  font-size: 16px;
}
.media__inner:not(:last-child) {
  margin-right: 10px;
}
i {
  align-items: center;
  text-align: center;
  display: flex;
}
.locations{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto  ;
    justify-content: space-between;
}
.location-page {
    margin: 20px;
    margin-bottom: 100px;
    width: 300px;
    height: 480px;
    transition: 0.1s;
}
.location-page__decribe {
    width: 100%;
    position: relative;
    z-index: 5;
     margin-left: 20px;
}

.inspiration-tag {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}
.location-tittle {
  font-weight: 900;
  font-size: 50px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.location-description {
  max-width: 300px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.inspiration-page_button {
  background: linear-gradient(
    92.02deg,
    rgba(255, 255, 255, 0.3078) 6.47%,
    rgba(255, 255, 255, 0.2997) 109.43%
  );
  backdrop-filter: blur(25px);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  padding: 9px 32px 8px 33px;
  transition: 1.5s;
}
.inspiration-page_button:hover {
  background: linear-gradient(
    92.02deg,
    rgba(78, 255, 202, 0.3078) 6.47%,
    rgba(112, 0, 255, 0.2997) 109.43%
  );
}
.location-img-container{
    position: relative;
    max-width: 300px;
    max-height: 280px;
    z-index: 1;
}
.location-image{
    max-width: 300px;
}

.animate {
    animation-duration: 2s;
    animation-iteration-count: infinite;
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



.pianka{
    z-index: 0;
    position: absolute;
    right: 15px;
    filter: blur(3.5px);
}
.paczek1{
    
    filter: blur(0.5px);
    z-index: 0;
    position: absolute;
    top: 500px;
    left: 75px;
    transform: scale(1);
    
}
.paczek2{
    filter: blur(0.5px);
    z-index: 0;
    position: absolute;
    top: 950px;
    right: 75px;
    transform: scale(1);
}
.paczek3{
    filter: blur(0.5px);
    z-index: 0;
    position: absolute;
    top: 1800px;
    left: 49px;
    transform: scale(1);
}
.location-page:hover  {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

@media  (max-width: 410px) {
    .media__inner:not(:last-child) {
        margin-right: 7px;
    }
    .lang-buttons {
        margin-right: 8px;
    }
    i{
        font-size: 12px;
    }
    header {
        margin-bottom: 150px;
          display: flex;
          align-items: center;
          text-align: center;
    }
    .menu{
       padding: 0px;
    }
  }
